language: android

jdk:
  - openjdk7

android:
  components:
    - tools
    - android-23
    - build-tools-23.0.2
    - extra-android-m2repository
cache: false
# Use the Travis Container-Based Infrastructure (see #203)
sudo: false

install:
  # Ensure Gradle wrapper is executable, download wrapper and show version
  - chmod +x ./gradlew; ls -l gradlew; ./gradlew wrapper -v
  # Download and show android dependencies
  # - ./gradlew androidDependencies

script:
  - ./gradlew clean build connectedCheck
